/* Common */

body {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    background-color: #EDEDED;
}
/* Header */

header {
    background-image: url('../assets/img/lampos-aritonang.png');
    background-size: cover;
    background-position: center;
    height: 667px;
    position: relative;
    display: flex;
    align-items: center;
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img {
    position: absolute;
    top: 50px;
    left: 69px;
}

.lead {
    text-align: center;
    font-family: Anton;
    font-size: 2.75rem;
    color: #FFD15B;
    width: 55%;
    margin-bottom: 30px;
}

#search {
    width: 56vw;
    height: 72px;
    border-radius: 11px;
    padding-left: 35px;
}

.search-text {
    position: relative;
    display: flex;
    align-items: center;
}

.search-text input {
    width: 100%;
}

.search-text i {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 51px;
    height: 52px;
    border-radius: 10px;
}

.search-text #search-icon {
    background-color: #1B1B1B;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 1.4rem;
    cursor: pointer;
}

#search-clear {
    display: inline;
    color: #7A7A7A;
    position: absolute;
    top: 35%;
    position: absolute;
    right: 4rem;
    display: none;
    font-size: 1.4rem;
    cursor: pointer;
}

.search-text #search-icon:hover {
    background-color: #FFD15B;
    color: #1B1B1B;
}

/* Sort Selectors */

#sortSelect {
    width: 60%;
    display: flex;
}

#sortSelect .btn {
    border-radius: 11px;
    background-color: #FFF;
    color: #1B1B1B;
    font-family: Manrope;
    font-weight: 500;
    padding: 17px 16px;
    margin-right: 66px;
    border: none;
    width: 195px;
}

.dropdown i {
    margin-left: 60px;
}

.rotate {
    transition: transform 0.3s ease;
}

.rotate-180 {
    transform: rotate(180deg);
}

#totalRecipes {
    width: 40%;
    display: flex;
    justify-content: end;
    align-items: center;
    font-family: Anton;
    font-size: 21px;
}

.dropdown-menu {
    border: none;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    width: 195px;
    max-height: 315px;
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE & Edge */
    scrollbar-width: none;  /* Firefox */  
    padding-top: 0; 
    padding-bottom: 0; 
}

.dropdown-menu .search-text {
    position: sticky;
    top: 0;
    background-color: #FFF;
    padding-bottom: 20px;
    padding-top: 7px;
}

.dropdown-menu .search-text input {
    width: calc(100% - 2rem);
    margin-left: 16px;  
}

.dropdown-menu .search-text i {
    color: #7A7A7A;
    background-color: #FFF;
    width: 14px;
    height: 13.5px;
    font-size: 14px; 
}

.dropdown-menu .search-text .fa-magnifying-glass {
    margin-top: 10px;
    margin-right: 16px;  
}

.dropdown-menu .search-text .fa-times {
    right: 45px;
    top: 32%;
    cursor: pointer;
}

.dropdown-item {
    font-size: 14px;
    font-family: 'Manrope';
    cursor: pointer;
    height: 37px;
    display: flex;
    align-items: center;
}

.dropdown-item:hover {
    background-color: #FFD15B;
}

.dropdown-item:active {
    font-weight: 700;
    color: #1B1B1B;
}

.closeButton:active {
    background-image: url('../assets/img/closeButton.png');
    background-size:1.1rem;
    background-repeat: no-repeat;
    background-position: 90%;
}

.show {
    margin-top: -10px;
}

#tags-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 10px;
}

#tags-container .tag {
    padding: 17px 18px;
    background-color: #FFD15B;
    display: flex;
    align-items: center;
    gap: 50px;
    border-radius: 10px;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 500;
}

#tags-container .tag i {
    cursor: pointer;
}

/* Media queries dropdowns */
@media screen and (max-width: 993px) {
    #search {
        width: 100%;
    }
    .lead {
        width: 100%;
    }
    #sortSelect {
        flex-direction: column;
        gap: 30px;
        margin-left: 5px;
    }
    #sortSelect .btn {
        margin-right: 0;
    }
    #totalRecipes {
        width: 30%;
    }
}

/* Cards & Gallery */

.my-4 {
    padding-left: 0px;
    padding-right: 0px;
} 

#recipes-container {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    margin-left: 0px;
    margin-right: 0px;
}

.recipe-card {
    width: 382px;
    padding: 0;
}

.card {
    width: 380px;
    min-height: 731px;
    font-size: 14px;
    border-bottom-left-radius: 21px;
    border-bottom-right-radius: 21px;
    box-shadow: 0px 4px 34px 30px rgba(0, 0, 0, 0.04);
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
    margin-bottom: 66px;
    cursor: pointer;
}

.card-img-top {
    width: 380px;
    height: 253px;
    object-fit: cover;
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
}

.card-body {
    padding: 2rem 2rem;
}

.card-title {
    font-size: 18px;
    font-family: Anton;
    margin-bottom: 29px;
}

.card-body h2 + p,
.card-text + p {
    color: #7A7A7A;
    font-family: Manrope;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.08px;
}

.card-text { 
    overflow: hidden;
    max-height: 85px;
    margin-bottom: 30px;
    color: #1B1B1B;
    font-family: manrope;
    transition: max-height 0.8s ease;
}

.card-text:hover {
    max-height: 1000px;
}

.ingredients {
    color: #7A7A7A;
    font-family: Manrope;
    font-size: 14px;
}

.ingredients strong {
    color: #1B1B1B;
    font-weight: 500;
}

.ingredients {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 180px;
}

.ingredients p {
    display: flex;
    flex-direction: column;
}

.badge {
    color: #1B1B1B;
    border-radius: 14px;
    background-color: #FFD15B;
    padding: 8px 13px;
    position: absolute;
    top: 20px;
    right: 20px;
}

